
*{
    box-sizing: border-box;
}
body{
    font-family:  -apple-system,
                  BlinkMacSystemFont,
                  segoe ui,Roboto,
                  helvetica neue,
                  Arial,noto sans,
                  sans-serif,
                  apple color emoji,
                  segoe ui emoji,
                  segoe ui symbol,
                  noto color emoji;
    background-color: #062863;
    text-align: center;
    line-height: 2.5;
    font-size: 10px;
    margin: 0px;
    padding: 48px 0px;
    background-image: url('https://res.cloudinary.com/dmxtedilx/image/upload/v1586349762/Piggy/o_u7v2su.png'),
                      url('https://res.cloudinary.com/dmxtedilx/image/upload/v1586349762/Piggy/g_c9hpxd.png'),
                      url('https://res.cloudinary.com/dmxtedilx/image/upload/v1586349762/Piggy/d_gthqoy.png'),
                      url('https://res.cloudinary.com/dmxtedilx/image/upload/v1586349762/Piggy/a_agui1g.png');
    background-size: auto 32%;
    background-position:  left -1% top -15%,
                          right -8.9% top -1%,
                          left -5% bottom -10%,
                          right -6.4% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;

}

input,
button,
select,
textarea {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img{
  margin-top: 0%;
  margin-bottom: 48px;
}
#form{
   width: 448px;
   height: 879.6px;
   background-color: white;
   border-radius: 17px 17px 17px 2px;
   display: table;
   margin: 0 auto;
   padding: 40px 40px 48px;
}

.formHead{
  line-height: 0.5rem;
  width: 368px;
  height: 50.8px;
  padding: 0px 0px 32px;
}
h1{
  color: darkblue;
  font-size: 24px;
  font-family: sans-serif;
  margin: 0px;
  height: 30px;
}

p{
  font-size: 14px;
  color: #4a5568;
  font-family: Karla, sans-serif;
  margin: 0px;
  height: 20.8px;
}
.label{
    width: 368px;
    height: 24px;
    margin: 0px 0px 4px;
    font-size: 12px;
    color: #4a5568;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-weight: bold;

}

a{
    text-decoration: none;
    font-size: 14px;
    font-family: Karla, sans-serif;
    color: white;
    display: table;
    margin: 32px auto;
    padding: 4px 20px;
}
a:hover{
  color: grey;
}

.input{
    width: 368px;
    height: 708.8px;
    margin: 32px 0px 0px;
}

.text{
    display: block;
    width: 368px;
    height: 56px;
    font-size: 15px; 
    padding: 16px;
    background-color: #edf2f7;
    border: 0px solid #ced4da;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.text:focus {
    outline: 0;
}


select{
  display: block;
  width: 362.84px;
  height: 52px;
  font-size: 15px;
  background-color: rgb(237, 242, 247);
  padding: 0.5rem;
  border: none;
  border-radius : 0.5rem;
  margin-left: auto; 
  margin-right: auto;  
  margin-bottom: 5% ;
  overflow-y: scroll; 
 }

.btn{
  width: 368px;
  height: 56.8px;
  background-color: rgb(8, 62, 158);
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;border-radius : 0.5rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  font: 2em ;
  border-radius: .75rem .75rem .75rem 0rem;
  border: none;
  padding: auto;
}

.btn:hover{
  background-color: #062863;
}
